.homegroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.homegroup h1 {
    font-size: 7rem;
    color: #62aec5;
}

.homegroup h3 {
    font-size: 2rem;
    color: #add2e4;
}